<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} Better Indeed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="p-6 bg-blue-200 flex justify-between items-center">
        <a href="{% url 'main:home' %}" class="text-3xl">Better Indeed</a>
        <form method="POST">
            <input type="text" class="p-1" placeholder="Job title or company" />
            <input type="text" class="p-1" placeholder="Where" />
            <button class="rounded-md p-1 bg-blue-500 text-white hover:bg-blue-700">Find Job</button>
        </form>
        {% if user.is_authenticated %}
        <div>
            <a class="rounded-md p-1 bg-gray-500 text-white hover:bg-blue-700" href="{% url 'core:profile' %}">Profile</a>
            <a class="rounded-md p-1 bg-gray-500 text-white hover:bg-blue-700" href="{% url 'core:logout' %}">Logout</a>
        </div>
        {% else %}
        <div>
            <a class="rounded-md p-1 bg-gray-500 text-white hover:bg-blue-700" href="{% url 'core:login' %}">Login</a>
        </div>
        {% endif %}
    </nav>
    <div class="p-6">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>