{% extends 'main/base.html' %}

{% block title %}
Home |
{% endblock %}

{% block content %}
<main class="p-6 flex justify-between gap-5">
    <aside class="w-1/2">
        {% for job in job_list %}
        <ul class="p-2 rounded-md border-2 border-gray-300 bg-gray-100 mb-2">
            <li>
                <a href="{% url 'main:home' job.id %}">
                    <h3 class="text-xl font-semibold">{{job.title}}</h3>
                    <small href="#">{{job.company}}</small><br/>
                    <small>{{job.location}}</small><br/>
                    <span class="bg-green-200 text-green-900 px-1">{{job.type}}</span>
                    <p class="my-2 text-gray-500">{{job.description|truncatechars:255}}</p>
                    <small>Posted on: {{job.created_at}}</small>
                </a>
            </li>
        </ul>
        {% endfor %}
    </aside>
    <div class="bg-gray-100 w-1/2 rounded-md p-2">
        <div class="relative mb-5">
            <img src="banner-image.jpg" alt="Banner Image" class="w-full h-24 object-cover">
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <img src="profile-pic.jpg" alt="Profile Picture" class="w-24 h-24 rounded-full border-4 border-white">
            </div>
        </div>
        <h2 class="text-2xl font-semibold">{{job.title}}</h2>
        <a href="#">{{job.company}}</a><br />
        <small class="text-gray-800">{{job.location}}</small>
        <p>{{job.type}}</p>

        <button class="rounded-md my-2 p-1 px-4 bg-blue-500 text-white hover:bg-blue-700">Apply</button>
        <hr class="h-1 bg-blue-200" />
        <h2 class="text-2xl">Job Details</h2>
        <p class="my-2 text-gray-500">{{job.description}}</p>
        <small>Posted on: {{job.created_at}}</small>
    </div>
</main>
{% endblock %}